/.envrc
.DS_Store
/output/playwright
/.playwright-cli
/.build
/src/gui/.build
/cache
/data/db.json
/data/combined.json
/data/isotopes.json*
/data/isotopes/
/data/pkg-manager-indexes.json
/data/radioisotopes/
/target
/src/target
/dist/
/www/llms-full.txt
/www/pkg/
/www/de/pkg/
/www/fr/pkg/
/www/ja/pkg/
/www/zh-hans/pkg/
/www/pagefind/
__pycache__
